.card{
    width: 18rem;
    margin: 20px 10px;
    text-align: center;
}
.div-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
body{
    background-color: #333;
}
.card-body{
    background-color: #5e5d5d;

}
.card{
    border-width: 2px;
    border-color: #232323;
}
.btn-primary{
    background-color: #232323;
    border: #333;
}
.btn-primary:hover{
    background-color: #3e3a3a;
    border: #232323;
}
.btn-primary:active{
    background-color: #3e3a3a !important;
    border: #232323;
}
.icono-navbar{
    fill:white
}